.boton{
    display: block;
    padding: 1.5rem;
    background-color: green;
    color: white;
    width: 90px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgb(10, 77, 10);
    /* transition: all 500ms; para todas las propiedades */
    transition: border 500ms, background-color 3s, border-radius 1s;
}
.boton:hover{
    border-radius: 1rem;
    background-color: orange;
    border: 5px solid red;
}
.caja{
    margin-top: 2rem;
    width: 250px;
    height: 250px;
    background-color: rgb(39, 201, 201);
    color: white;
    border: 5px solid black;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplazamiento;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes desplazamiento{
    0% {
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 1000px;
        transform: rotate(360deg);
        border-radius: 50%;
    }
    75%{
      background-color: red;
    }
    77%{
        border: 10px dashed blue;
      }
    100% {
        margin-left: 0px;
        transform: rotate(0deg);
    }
}